<!-- views/partials/_header.ejs -->

<h1>Tiny App Project</h1>

<% if(!user){ %>
<a href="/register">Register</a> | <a href="/login">Login</a>
 <% } else { %>
<h3>User: <%= user.email %></h3><a href="/urls/new">Add New URL</a><br>
<form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
<% } %>