<!-- views/partials/_header.ejs -->

<h1>Tiny App Project</h1>

<% if(!username){ %>
<a href="/register">Register</a> | <a href="/login">Login</a>
 <% } else { %>
<h3>User: <%= username %></h3>
<form action="/logout" method="POST">
  <input type="submit" value="Logout">
</form>
<% } %>
