<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp - Register</title>
</head>
<body>
<h1>Tiny App Project</h1>
<h2>Register</h2>
<div style="width: 30%" align="right">

<form action="" method="post">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email"><br><br>
  <label for="password">Password: </label>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" name="register" value="Register">
</form>

</div>

</body>
</html>
