<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body class="container">
    <header>
      <% include ./partials/_header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>URL Shortening</h1>
        <p>Welcome to templating using EJS</p>
        <h2>URL Database</h2>
        <ul>
          <% for (var index in urls) { %>
            <li><a href="#"><%= index %></a> - <a href="#"><%= urls[index] %></a>
              <form action="/urls/<%= index %>/delete" method="POST">
                <button>Delete</button>
              </form>
            </li>
          <% }; %>
        </ul>


      </div>
    </main>
  </body>
</html>